//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.
.text-muted{
	color:white;
}
.text-gray{
	color:gray;
}

.text-center {
	color: white;
}

.dancing {
	font-family: DancingScript-Regular;
}

.pull-left {
	float: left;
}