body{
	  background-color: #d5d5d5;
}

@font-face {
  font-family: DancingScript-Regular;
  src: url(../fonts/DancingScript-Regular.ttf); 
}
@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans-Regular.ttf); 
}
.home {
  background-image: url(../img/image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 810px;
}
.navbar{
	margin: 0%;
}
.nav {
  padding-left: 35%;
}
.navbar-nav {
  float: none;
}
.navbar-brand img{
    width: 122px;
}
.navbar{
background-color:transparent;
transition:0.5s ease-in-out;
} 
 a {
  color: #FEFEFE;
}
.navbar-default {
  border-color: rgba(231, 231, 231, 0);
}
.navbar-nav > li > a {
  padding-top: 28px;
  padding-bottom: 18px;
}
.navbar-brand {
  padding: 0px;
  height: 76px;
  width: 13%;
}
.navbar.scroll{
  background-color: whitesmoke;
  position:fixed;
  width: 100%;
  z-index:10;
}
.carousel-caption {
 padding-bottom: 20%;
	h3{
  font-family: "JosefinSans";
  font-size: 40px;
	}
  p{
   font-family:  "JosefinSans";
   font-size:   26px;
   font-weight: 700;
  }
}
.text-sobre-mi {
  margin: 0% 19%;
}
.sobre-mi{
	text-align: center;
 h2{
  	  font-family:"DancingScript-Regular";
  	  font-size: 49px;
  		color: #644c61;
	}
	p{
  		font-size: 20px;
  		margin: 4% 0%;
      font-family: "JosefinSans";
	}
} 
li{
  font-family:  "JosefinSans";
  font-size: 19px;
}
.trabajos,
.tercero_raro{
  margin: 6%;

}
.scroll_dos {
  width: 100%;
  height: 400px;
  bottom: 0;
  background-image: url(../img/fondo-ocho.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}.scroll_tres{
  width: 100%;
  height: 400px;
  bottom: 0;
  background-image: url(../img/fondo-cinco.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.foto img{
  width: 25%;
  transform: rotate(90deg);
  opacity: 0.6;
  border-radius: 50%;
  border: dashed 1px;
  padding: 8px;
  margin: 7%;
}
.trabajos {
  text-align: center;
 h2{
      font-family:"DancingScript-Regular";
      font-size: 49px;
      color: #644c61;
  }
  p{
      font-size: 20px;
      margin: 4% 0%;
      font-family: "JosefinSans";
  }
}
.trabajo-img {
  margin-top: 8%;
  img {
  width: 100%;
  }
}









.contacto{
  width: 100%;
  height: 466px;
  bottom: 0;
  background-image: url(../img/fondo-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
.footer_p{
	text-align: center;
    margin-top: 2%;
}
.icon-redes{
	text-align: center;
}
.icon-redes img {
  width: 52px;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.52) 1px;
  margin: 3px;
  padding: 12px 11px;
}
.red-l {
	display: inline-block;

img:hover {
  background-color: #2C4076;
  border: #2C4076;
  -webkit-transition: 1.1s;
	}
}
.red-p {
	display: inline-block;

img:hover {
  background-color: #AD2027;
  border: #AD2027;
  -webkit-transition: 1.1s;
	}
} 
.red-t {
  display: inline-block;
  img:hover {
  background-color: #1087B6;
  border: #1087B6;
  -webkit-transition: 1.1s;
	}
}
.red-g {
  display: inline-block;
  img:hover {
  background-color: #60707A;
  -webkit-transition: 1.1s;
  border: #60707A;
	}
}
.text-redes {
  margin: 9% 0%;

  h4{
    font-family:"JosefinSans"; 
     color: #f3f3f3;
   
  }
  span{
  	  font-family:"DancingScript-Regular";
  	  color: rgb(203, 201, 201); 
      font-size: 30px; 
  }
  p{
    font-size: 12px;
  letter-spacing: normal;
  color: #cbc9c9;
  }
}
.caja-caption{
  &.white{
    background-color :white ;
    opacity:  0.5;   
  }
  &.gray{
    background-color :gray ;
    opacity:  0.5;   
  }
}